[Desktop Entry]
Version=1.0
Name=Metro 2033 Config Editor
GenericName=Metro 2033 Config Editor
Type=Application
Comment=Configure settings for Metro games.
Icon=mce
Exec=/usr/bin/python -m mce
Terminal=false
StartupNotify=false
StartupWMClass=mce
Categories=Games;
